@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.bootcss.com/material-design-icons/2.0.0/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
     local('MaterialIcons-Regular'),
     url(//cdn.bootcss.com/material-design-icons/2.0.0/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
     url(//cdn.bootcss.com/material-design-icons/2.0.0/iconfont/MaterialIcons-Regular.woff) format('woff'),
     url(//cdn.bootcss.com/material-design-icons/2.0.0/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
  background-color: #f5f5f5 !important;
  text-shadow: none;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(62,82,183);
}

#step3 .mdl-data-table{
  white-space: normal;
  word-break: break-all;
}
#step3 thead{
  white-space: nowrap;
}
#step3 td{
  width: 30%;
  overflow: hidden;
}
#step3 .mdl-data-table__cell--non-numeric{
  width: 40%;
  overflow: hidden;
}
.mdl-card {
  margin:10px 10px;
}
 
.mdl-layout__header-row .mdl-layout-title{
  cursor: pointer;
}

.mdl-layout__drawer-button .material-icons{
  line-height: 42px;
}

.mdl-layout__tab-bar-button{
  display: none;
}

main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

.mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}

.mdl-card > * {
  height: auto;
}
.mdl-card .mdl-card__supporting-text {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.mdl-card__actions a:hover,
.mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
section.section--center {
  max-width: 860px;
}

.mdl-layout__header-row {
  padding-left: 40px;
}
.mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.mdl-layout__tab-bar-button {
  display: none;
}
.mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}